    .wrapper-contact {
        background-image: url('../../images/contact-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: 30%;
        height: auto;
        color: white;
        .container {
            padding-top: 100px;
            label {
                font-size: 20px;
                width: 80%;
                margin-left: 20%;
            }
            input {
                margin-bottom: 40px;
                background: none;
            }
            input[type=text] {
                width: 80%;
                margin-left: 20%;
                border: none;
                border-bottom: 2px solid white;
            }
            input[type=textarea] {
                width: 80%;
                margin-left: 20%;
                border: none;
                border-bottom: 2px solid white;
                height: 150px;
            }
            input[type=submit] {
                width: 80%;
                margin-left: 20%;
                padding: 10px;
                border: none;
                border-bottom: 2px solid white;
                background-color: white;
                vertical-align: middle;
                &:hover {
                    cursor: pointer;
                    background-color: lightgrey;
                    border: 2px solid white;
                    transition: all .3s;
                }
            }
        }
    }
    
    @media only screen and(max-width: 1000px) {
        .wrapper-contact {
            background-attachment: initial
        }
        input,
        label {
            width: 100% !important;
            margin-left: 0 !important;
        }
    }