.navbar {
    background-color: #F7F7F7;
    .nav-link,
    .navbar-brand {
        cursor: pointer;
    }
    .navbar-brand img {
        max-width: 250px;
    }
    .nav-link {
        margin-right: 1em !important;
        color: #000;
        font-size: 20px;
    }
    .nav-link:hover {
        color: #000;
    }
    #main-navigation {
        justify-content: flex-end;
    }
}

.mob-menu {
    display: none;
    padding: 20px;
    background-color: #F7F7F7;
}

.opened {
    display: none;
}

.closebtn {
    display: none;
}

@media only screen and(max-width: 700px) {
    .navbar {
        margin-top: -20vh;
        background-color: white;
    }
    .mob-menu {
        display: block;
    }
}