// import partial styles
@import 'partials/__navbar.scss';
@import 'partials/__contactform.scss';
// impoprt page styles
@import 'pages/_homepage.scss';
@import 'pages/_map.scss';
body {
    padding: 0;
    margin: 0;
}

xs .hidden {
    display: none;
}